<template>
    
    <section>
      <base-card>
      <section>
        <h2>User profile</h2>
      </section>
        <div class ="controls">
        <base-button v-if="!isLoggedIn && !isMember" mode="outline" link to="/auth">Log in / Register</base-button>
        <base-button v-if="isLoggedIn && !isMember" mode="outline" link to="/register">Verify profile</base-button>
        </div>
        <ul>
            <member-panel v-for="member in filteredMember" :key="member.id"
            :id="member.id"
            :first-name="member.firstName"
            :last-name="member.lastName" 
            :username="member.userName"
            :email="member.email"
            :phone="member.phone"
            > 
            </member-panel>
        </ul>
      </base-card>
    </section>
</template>

<script>
import MemberPanel from '../../components/members/MemberPanel.vue';
export default {
  components: { MemberPanel },
    computed: {
        isLoggedIn(){
          return this.$store.getters.isAuthenticated;
        },
        filteredMember(){
            return this.$store.getters['members/members'];
        },
        hasMembers(){
            return this.$store.getters['members/hasMembers'];
        },
        isMember(){
            return this.$store.getters['members/isMember'];
        },
    },
    methods: {
      loadUser(){
        this.$store.dispatch('members/loadUser');
      }
    },
    created(){
        this.loadUser();
    }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

p, h1, h3 {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls{
  display: flex;
  justify-content: space-between;
}

</style>