<template>
    <section>
        <base-card>
            <h2>{{ fullName }}</h2>
            <p><i>Profile bio:</i> {{ description }}
            </p>
        </base-card>
    </section>
    <section>
        <base-card>
            <header>
                <h2>Add event</h2>
                <base-button link :to="addEvent">Add Event</base-button>
            </header>
            <router-view></router-view>
        </base-card>
    </section>
</template>

<script>
export default {
    props: ['id'],
    methods: {

    },
    data(){
        return {
            memberId: null,
        };
    },
    computed: {
        fullName(){
            return this.memberId.firstName + ' ' + this.memberId.lastName;
        },
        description(){
            return this.memberId.description;
        },
        addEvent(){
            return '/members/' + this.id + '/book'; // this.$route.path
        },

    },
    created(){
        this.memberId = this.$store.getters['members/members'].find(
            (member) => member.id === this.id
        );
    },
};
</script>
