<template>
    <section>
        <base-card>
        <h2>Register</h2>
        <member-form @save-data="saveData"></member-form>
        </base-card>
    </section>
    <section>
        
    </section>
</template>

<script>
import MemberForm from '../../components/members/MemberForm.vue';
export default {
    components: {
        MemberForm,
    },
    methods: {
        saveData(data){
            this.$store.dispatch('members/registerMember', data);    
            this.$router.replace('/members'); // redirect to home
        }
    }
    
}
</script>

<style scoped>

</style>