<template>
<base-dialog v-if="editEvent">
 <template v-slot:header> <h2>{{ eventName }}</h2> </template>
 <p>Are you confident you wish to delete the "{{ eventName }}" ?</p>
  <base-button mode="flat" @click="deleteEvent">delete</base-button>
  <base-button @click="deleteInit">Cancel</base-button>
</base-dialog>
    <li>
        <h3>{{ eventName }}</h3>
        <p>{{ eventDate }}</p>
        <p>{{ eventDesc }} </p>
        <base-button @click="deleteInit">delete</base-button>
        <base-button link :to="eventDetails" mode="flat">View Event</base-button>
    </li>
</template>

<script>
export default {
    props: ['eventName', 'eventDate', 'eventDesc', 'eventId'],
    computed: {
      eventDetails(){
          return '/events/' + this.eventId;
      }
    },
    data(){
      return {
        editEvent: false,
      };
    },
    methods: {
      deleteInit(){
        this.editEvent = !this.editEvent;
      },
      deleteEvent(){
        this.$store.dispatch('events/deleteEvent', {
        eventId: this.eventId
        });
        this.editEvent = false;
      },
    }

}
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
}

a {
  color: #3d008d;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:active {
  color: #8d007a;
}

p {
  margin: 0.5rem 0 0 0;
}
</style>