<template>
<base-card>
    <form @submit.prevent="submitForm">
        <div class="form-control" :class="{invalid: !email.isValid}">
            <label for="email">Email: </label>
            <input type="email" id="email" v-model.trim="email.val" > 
        </div>
        <div class="form-control" :class="{invalid: !pass.isValid}">
            <label for="pass">Password: </label>
            <input type="password" id="pass" v-model.trim="pass.val" > 
        </div>
        <base-button>{{ submitButtonCaption }}</base-button>
        <base-button type="button" mode="flat" @click="switchAuthMode"> {{ switchModeButtonCaption }}</base-button>
    </form>
    <p v-if="!formIsValid">check your inputs </p>
</base-card>
</template>

<script>
export default {
    data(){
        return{
            email: {
              val: '',
              isValid: true
            },
            pass: {
              val: '',
              isValid: true
            },
            formIsValid: true,
            mode: 'login'
        };
    },
    computed: {
        submitButtonCaption(){
            if(this.mode === 'login') {
                return 'Login';
            } else {
                return 'Signup';
            }
        },
        switchModeButtonCaption(){
            if(this.mode === 'login') {
                return 'Signup instead';
            } else {
                return 'Login instead';
            }
        },
    },
    methods: {        
        submitForm(){
           this.validateForm();
           if(!this.formIsValid){
             return;
            }
            if(this.mode === 'login'){
              this.$store.dispatch('login', {
                email: this.email.val,
                pass: this.pass.val
              });
            } else {
              this.$store.dispatch('signup', {
                email: this.email.val,
                pass: this.pass.val
              });
            }
            this.$router.replace('/events');
        },
        validateForm(){
          this.formIsValid = true;
          if(this.email.val === ''){
            this.email.isValid = false;
            this.formIsValid = false;
          }
          if(this.pass.val.length <= 6){
            this.pass.isValid = false;
            this.formIsValid = false;
          }
        },
        switchAuthMode(){
            if(this.mode === 'login'){
                this.mode = 'signup';
            } else {
                this.mode = 'login';
            }
        }
    }
};
</script>

<style scoped>
form {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>
