<template>
    <base-card>
       <h2> PAGE NOT FOUND: 404 </h2>
       <p>Page could not be found. Go back to the <router-link to="/">homepage</router-link></p>
  
    </base-card>
</template>

<style scoped>

</style>