<template>
    <li>
        <h3>{{ fullName }}</h3>
        <div class="actions">
            <base-button mode="outline" link :to="addEvent">Book Events</base-button>
            <base-button link :to="memberDetails">View profile</base-button>
        </div>
    </li>
</template>

<script>
import BaseButton from '../ui/BaseButton.vue';
export default {
  components: { BaseButton },
    props: ['id', 'firstName', 'lastName', 'username', 'email', 'phone'],
    computed: {
        fullName(){
            return this.firstName + ' ' + this.lastName;
        },
        addEvent(){
            return '/members/' + this.id + '/book'; // this.$route.path
        },
        memberDetails(){
            return '/members/' + this.id;
        },
        mailTo(){
          return 'Mailto:' + this.email;
        }

    }
}
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #424242;
  border-radius: 12px;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

div {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
</style>