<template>
    <form @submit.prevent="submitForm">
        <div class="form-control" :class="{invalid: !firstName.isValid}">
            <label for="firstname">First Name: </label>
            <input type="text" id="firstname" v-model.trim="firstName.val" @blur="clearValidity('firstName')" > 
            <p v-if="!firstName.isValid">First name field must not be empty</p>
        </div>
        <div class="form-control" :class="{invalid: !lastName.isValid}">
            <label for="lastname">Last Name: </label>
            <input type="text" id="lastname" v-model.trim="lastName.val" @blur="clearValidity('lastName')" >
            <p v-if="!lastName.isValid">Last name field must not be empty</p>
        </div>
        <div class="form-control" :class="{invalid: !userName.isValid}">
            <label for="username">Username: </label>
            <input type="text" id="username" v-model.trim="userName.val" @blur="clearValidity('userName')" > 
            <p v-if="!userName.isValid">username field must not be empty</p>
        </div>
        <div class="form-control" :class="{invalid: !email.isValid}">
            <label for="email">Email: </label>
            <input type="email" id="email" v-model="email.val" @blur="clearValidity('email')" > 
        </div>
        <div class="form-control" :class="{invalid: !phone.isValid}">
            <label for="phone">Phone: </label>
            <input type="text" id="phone" v-model="phone.val" @blur="clearValidity('phone')" >
            <p v-if="!phone.isValid">Phone field must not be empty</p>
        </div>
        <div class="form-control" :class="{invalid: !description.isValid}">
            <label for="description">About you: </label>
            <textarea id="description" v-model="description.val" rows="5" @blur="clearValidity('description')"> </textarea>
            <p v-if="!description.isValid">Please input some info about yourself</p>
        </div>
        <p v-if="!formIsValid">Please make sure the inputed information is valid</p>
        <base-button>Register</base-button>
    </form>
</template>

<script>
export default {
  emits: ['save-data'], // emmiting my form to UserRegistration
    data(){
        return{
            firstName: {
              val: '',
              isValid: true
            },
            lastName: {
              val: '',
              isValid: true
            },
            userName: {
              val: '',
              isValid: true
            },
            email: {
              val: '',
              isValid: true
            },
            phone: {
              val: '',
              isValid: true
            },
            description: {
              val: '',
              isValid: true
            },
            formIsValid: true
        };
    },
    methods: {
        
        submitForm(){
          this.validateForm();
          if(!this.formIsValid){
            return;
          }
            const formData = {
                first: this.firstName.val,
                last: this.lastName.val,
                user: this.userName.val,
                email: this.email.val,
                phone: this.phone.val,
                desc: this.description.val
            };

            this.$emit('save-data', formData);
            // console.log(formData);
        },
        clearValidity(input){
          this[input].isValid = true;
        },
        validateForm(){
          this.formIsValid = true;
          if(this.firstName.val === ''){
            this.firstName.isValid = false;
            this.formIsValid = false;
          }
          if(this.lastName.val === ''){
            this.lastName.isValid = false;
            this.formIsValid = false;
          }
          if(this.userName.val === ''){
            this.userName.isValid = false;
            this.formIsValid = false;
          }
          if(this.email.val === ''){
            this.email.isValid = false;
            this.formIsValid = false;
          }
          if(this.phone.val === ''){
            this.phone.isValid = false;
            this.formIsValid = false;
          }
          if(this.description.val === ''){
            this.description.isValid = false;
            this.formIsValid = false;
          }
        },
    }
};
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}

</style>