<template>
    <form @submit.prevent="submitEvent"> 
        <div class="form-control">
        <label for="name">Event Name</label>
        <input v-model.trim="eventName.val" id="name" type="text" />
        </div>
        <div class="form-control">
        <label for="date">Event Date</label>
        <input v-model="eventDate.val" id="date" type="date" />
        </div>
        <div class="form-control">
        <label for="description">Event description</label>
        <textarea v-model="eventDesc.val" rows="5" id="description"></textarea>
        </div>
        <p class="errors" v-if="!formIsValid">Please check your input</p>
        <div class="actions">
            <base-button>Submit Event</base-button>
        </div>
    </form>
</template>

<script>
export default {
    props: ['id'],
    data() {
        return {
            eventName: {
              val: '',
              isValid: true
            },
            eventDate:  {
              val: '',
              isValid: true
            },
            eventDesc:  {
              val: '',
              isValid: true
            },
            formIsValid: true
        };
    },
    methods: {
        submitEvent(){
          this.validateForm();
          if(!this.formIsValid){
            return;
          }
          this.$store.dispatch('events/createEvent', {
                eventName: this.eventName.val,
                eventDate: this.eventDate.val,
                eventDesc: this.eventDesc.val,
                userId: this.id, // or this.$route.params.id
            });
            this.$router.replace('/events');
        },
        validateForm(){
          this.formIsValid = true;
          if(this.eventName.val === ''){
            this.eventName.isValid = false;
            this.formIsValid = false;
          }
          if(this.eventDate.val === ''){
            this.eventDate.isValid = false;
            this.formIsValid = false;
          }
          if(this.eventDesc.val === ''){
            this.eventDesc.isValid = false;
            this.formIsValid = false;
          }
        }

    }
}
</script>

<style scoped>
form {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>