<template>
    <section>
        <base-card>
            <header>
                <h2>List of all events </h2>
            </header>
            <ul v-if="hasEvents && !isLoading">
                <event-item v-for="event in currentEvents" 
                :key="event.id"
                :eventName="event.eventName"
                :eventDate="event.eventDate"
                :eventDesc="event.eventDesc"
                :eventId="event.id"                
                > </event-item>
            </ul>
            <h3 v-else>No events to show for</h3>
        </base-card>
    </section>
</template>

<script>
import EventItem from '../../components/events/EventItem.vue';

export default {
    components: {
        EventItem,
    },
    data(){
        return {
           isLoading: false,
           error: null 
        };
    },
    computed: {
        currentEvents(){
            return this.$store.getters['events/events'];
        },
        hasEvents(){
            return this.$store.getters['events/hasEvents'];
        },
    },
    created(){
        this.loadEvents();
    },
    methods: {
        async loadEvents() {
            this.isLoading = true;
            await this.$store.dispatch('events/fetchEvents');
            this.isLoading = false;
        },
    }
}
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>