<template>
    <section>
        <base-card>
            <h2>{{ eventName }}</h2>
            <p><i>Event bio:</i> {{ eventDesc }} </p> 
            <p><i>Event Date:</i> {{ eventDate }} </p> 
        </base-card>
    </section>
    <base-card>
    <h2>Edit Event</h2>
    <form @submit.prevent="editEvent"> 
        <div class="form-control">
        <label for="name">Event Name</label>
        <input v-model.trim="inputName" placeholder="New event name" id="name" type="text" />
        </div>
        <div class="form-control">
        <label for="date">Event Date</label>
        <input v-model="inputDate" :placeholder="eventDate" id="date" type="date" />
        </div>
        <div class="form-control">
        <label for="description">Event description</label>
        <textarea v-model="inputDesc" placeholder="New event description" rows="5" id="description"></textarea>
        </div>
        <p class="errors" v-if="!formIsValid">Please check your input</p>
        <div class="actions">
        <base-button>Apply changes</base-button>
        </div>
    </form>
    </base-card>
</template>

<script>
export default {
    props: ['id'],
    methods: {
      editEvent(){
          this.validateForm();
          if(!this.formIsValid){
            return;
          }
          this.$store.dispatch('events/editEvent', {
                eventName: this.inputName,
                eventDate: this.inputDate,
                eventDesc: this.inputDesc,
                eventId: this.id // or this.$route.params.id
            });

            this.$router.replace('/events');
        },
        validateForm(){
          this.formIsValid = true;
          if(this.inputName === '' || this.inputDate === '' || this.inputDesc === '' ){
            this.formIsValid = false;
          }
        }
    },
    data(){
        return {
            eventId: null,
            formIsValid: true,
            inputName: '',
            inputDate: '',
            inputDesc: '',
        };
    },
    computed: {
        eventName(){
            return this.eventId.eventName;
        },
        eventDesc(){
            return this.eventId.eventDesc;
        },
        eventDate(){
            return this.eventId.eventDate;
        },

    },
    created(){
        this.eventId = this.$store.getters['events/events'].find(
            (event) => event.id === this.id);
    },
};
</script>

<style scoped>
form {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>