<template>
    <button v-if="!link" :class="mode">
        <slot></slot>
    </button>
    <router-link v-else :to="to" :class="mode">
        <slot></slot>
    </router-link>
</template>

<script>
export default {
    props: {
        mode: {
            type: String,
            required: false,
            defailt: null
        },
        link: {
            type: Boolean,
            required: false,
            default: false
        },
        to: {
            type: String,
            required: false,
            default: '/',
        }
    },
}
</script>

<style scoped>
button,
a {
  text-transform: capitalize;
  margin: 2rem 0;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font: inherit;
  background-color: #024959;
  border: 1px solid #024959;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  margin-right: 0.5rem;
  display: inline-block;
}

a:hover,
a:active,
button:hover,
button:active {

  background-color: #024959;
  border-color: #024959;
}

.flat {
  background-color: transparent;
  color: #3a0061;
  border: 2px solid #024959;
  color: #024959;
}

.outline {
  background-color: transparent;
  border-color: #024959;
  color: #024959;
}

.flat:hover,
.flat:active,
.outline:hover,
.outline:active {
  background-color: #024959;
  color: #fff;
}
</style>